@font-face {
    font-family: "adobe-clean";
    src: url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/l?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n4&v=3") format("woff2"),
         url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/d?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n4&v=3") format("woff"),
         url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/a?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n4&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "adobe-clean";
    src: url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/l?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=i4&v=3") format("woff2"),
         url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/d?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=i4&v=3") format("woff"),
         url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/a?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=i4&v=3") format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "adobe-clean";
    src: url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/l?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n7&v=3") format("woff2"),
         url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/d?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n7&v=3") format("woff"),
         url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/a?primer=5f85f9f11cd5381b63b5247f08def02e63540b6c5567c66a734e1faa3ac86970&fvd=n7&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}