// Provide base styles for some default tags;
// Other important elements that might need to be added to the list:
// iframe, form, label, article, aside, embed, sub, sup, s/strike
html, body, footer, header, main, div, span, // containers
h1, h2, h3, h4, h5, h6, p, a, // typography
em, strong, u, // typography alternative styles
img, // media elements
ol, ul, li, // list elements
table, tbody, thead, tr, th, td { // table elements
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: @background-body;
    font-family: @fontFamily-default;
}

main {
    max-width: @width-content-outer;
    margin: auto;
    padding: @gutter-content 0;
    line-height: @lineHeight-default;
    font-size: @fontSize-100--mobile;

    @media screen and (min-width: @breakpoint-mobile) {
        font-size: @fontSize-100--desktop;
    }

    // All elements should have 'border-box' box sizing
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    // All direct elements in the main Fedpub wrapper
    // (mostly headings, paragraphs and lists)
    // should have a certain width and be centered
    > div > * {
        max-width: @width-content-inner;
        margin: auto;
        padding: 0 20px;

        @media screen and (min-width: @breakpoint-mobile) {
            padding: 0;
        }
    }

    // Headline styles, as defined by https://spectrum.adobe.com/page/heading/
    // Define shared headline styles
    h1, h2, h3, h4, h5, h6 {
        line-height: @lineHeight-headlines;
        font-weight: @fontWeight-headlines;
    }

    // Define headline individual properties
    h1 {
        .headlineStyles(900);
    }

    h2 {
        .headlineStyles(700);
    }

    h3 {
        .headlineStyles(500);
    }

    h4 {
        .headlineStyles(300);
    }

    h5 {
        .headlineStyles(200);
    }

    h6 {
        .headlineStyles(100);
    }

    // Treat the first 'p' after a headline as a subheadline
    // Styles as defined by https://spectrum.adobe.com/page/detail/
    h1 + p {
        margin-top: (round(@fontSize-200--mobile / @marginTopMultiplier-headlines));
        margin-bottom: (round(@fontSize-200--mobile * @marginBottomMultiplier-headlines));
        font-size: @fontSize-200--mobile;
        line-height: @lineHeight-headlines;

        @media screen and (min-width: @breakpoint-mobile) {
            margin-top: (round(@fontSize-200--desktop / @marginTopMultiplier-headlines));
            margin-bottom: (round(@fontSize-200--desktop * @marginBottomMultiplier-headlines));
            font-size: @fontSize-200--desktop;
        }
    }

    // Default paragraph styling
    // Styles as defined by https://spectrum.adobe.com/page/body/
    p {
        margin-bottom: (round(@marginMultiplier-bodyText * @fontSize-100--mobile));
        margin-top: (round(@marginMultiplier-bodyText * @fontSize-100--mobile));

        @media screen and (min-width: @breakpoint-mobile) {
            margin-bottom: (round(@marginMultiplier-bodyText * @fontSize-100--desktop));
            margin-top: (round(@marginMultiplier-bodyText * @fontSize-100--desktop));
        }
    }

    // Standard styling for normal links that come up in paragraphs
    a {
        text-decoration: none;
        color: @color-link-default;

        &:hover {
            text-decoration: underline;
        }
    }

    // Styles for CTA buttons
    .fedpub-cta {
        .cta();
    }

    .fedpub-cta--primary {
        .cta--primary();
    }

    .fedpub-cta--secondary {
        .cta--secondary();
    }

    // `strong` elements should have bold text
    strong {
        font-weight: @fontWeight-strong;
    }

    // `em` elements should have italic text
    em {
        font-style: italic;
    }

    // Common styles for lists
    ul, ol {
        padding-left: 30px;
        margin-bottom: 30px;
    }

    // Style unordered list elements to have bullet points
    ul {
        list-style-type: disc;
    }

    // Style ordered list elements to have decimal numbers
    ol {
        list-style-type: decimal;
    }

    // Common styles for the default list items
    li {
        margin-bottom: (round(@marginMultiplier-bodyText * @fontSize-100--mobile));
        margin-top: (round(@marginMultiplier-bodyText * @fontSize-100--mobile));

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: @breakpoint-mobile) {
            margin-bottom: (round(@marginMultiplier-bodyText * @fontSize-100--desktop));
            margin-top: (round(@marginMultiplier-bodyText * @fontSize-100--desktop));
        }
    }

    // Basic table styles
    table {
        visibility: hidden;
        border-collapse: collapse; // Ensure adjacent table cells have shared borders
    }

    .fedpub--ready table {
        visibility: visible;
    }
}
